.posts{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 770px) {
  .posts{
    gap: 5px;
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);

  }
}