* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

button:hover {
  background-color:rgb(203, 219, 249);
}

button:active{
  background-color:rgb(161, 192, 248);
}


